# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=archery_scoring_db

# File Upload Directory
UPLOAD_DIR=uploads

# Allowed Frontend URL (CORS)
REACT_URL=localhost:5173

# Roboflow API Key for Target/Arrow Computer Vision (Optional)
ROBOFLOW_API=
